<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="styles/base-styles.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="icon" type="image/png" href="images/starIcon.png"
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="admin">Admin</a></li>
        </ul>
    </nav>
    <hr>

    <h2>Contact Form</h2>
    <form action="/submit-guest" method="POST">
        <div id="topInputs">
            <label class="firstSix">First Name
                <input type="text" name="first_name">
            </label>
            <label class="firstSix">Last Name
                <input type="text" name="last_name">
            </label>
            <label class="firstSix">Job Title
                <input type="text" name="job_title">
            </label>
            <label class="firstSix">Company
                <input type="text" name="company">
            </label>
            <label class="firstSix">LinkedIn URL
                <input type="text" name="linkedin">
            </label>
            <label class="firstSix">Email Address
                <input type="email" name="email">
            </label>            
            <label class="howMeet">How did we meet?
                <select name="how_met">
                    <option>Please select</option>
                    <option>Conference</option>
                    <option>Online</option>
                    <option>Referral</option>
                </select>
            </label>
            <label class="howMeet">Other (please specify)
                <input type="text" name="other">
            </label>
            <label class="messageText">Message
                <textarea name="message"></textarea>
            </label>            
        </div>
        
        <div id="bottomInputs">
            <label>
                <input type="checkbox" name="mailing_list">
                Please add me to your mailing list
            </label>
            <label>Choose an email format:
                <input type="radio" name="email_format" value="html" checked> HTML
                <input type="radio" name="email_format" value="text"> Text
            </label>
            
            <button type="submit">Submit</button>
        </div>
    </form>

</body>
</html>