* {
    box-sizing: border-box;
}

html {
    background-color: lightgray;
}

body {
    background-color: white;
    width: 700px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border-radius: 5px; /* Added rounded corners */
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#topInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

#topInputs input, #topInputs select, #topInputs textarea {
    width: 100%;
    padding: 6px; 
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.firstSix {
    width: 30%;
}

.howMeet {
    width: 46%;
}

.messageText {
    width: 95%;
}

#bottomInputs label {
    padding-left: 16px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-bottom: 16px;
    margin-left: 16px;
    border: none;
    border-radius: 3px;
}